html {
  scroll-behavior: smooth
}

* {
  outline: 0;
  box-sizing: border-box
}

body {
  position: relative;
  margin: 0;
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  color: #2a3c90;
  min-height: 100vh
}

body.logged-in {
  margin-top: 20px
}

img {
  max-width: 100%;
  height: auto
}

body::before {
  position: fixed;
  top: 50px;
  left: 50%;
  font-size: 2em;
  color: red;
  transform: translateX(-50%);
  z-index: 777;
  font-weight: 700
}

details {
  cursor: pointer
}

a {
  text-decoration: none;
  color: #1292f0;
  cursor: pointer
}

ol,ul {
  list-style-type: none
}

.btn,button {
  transition: .15s ease-in
}

button,ol,p,ul {
  padding: 0;
  margin: 0
}

button {
  border: 0;
  cursor: pointer;
  background: 0 0;
  font-family: 'Inter',sans-serif
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: initial
}

@media (min-width: 991px) {
  .container {
      max-width:930px
  }
}

@media (min-width: 1040px) {
  .container {
      max-width:991px
  }
}

@media (min-width: 1280px) {
  .container {
      max-width:1270px
  }
}

.hidden {
  display: none!important
}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
  overflow: hidden
}

.wrapper {
  position: relative;
  width: 100%
}

.header,.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center
}

.header {
  position: fixed;
  left: 0;
  flex: 1 0 auto;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0 1px 0 #e1eaf0;
  justify-content: flex-start
}

.header+.main {
  padding-top: 64px
}

@media (min-width: 490px) {
  .header+.main {
      padding-top:78px
  }
}

.header_wrapper {
  height: 64px;
  flex-direction: row;
  justify-content: space-between
}

@media (min-width: 490px) {
  .header_wrapper {
      height:78px
  }
}

.header_logo__img {
  width: 180px
}

@media (min-width: 400px) {
  .header_logo__img {
      width:250px
  }
}

.block_navigation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  max-width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  flex-direction: column;
  justify-content: center;
  background: #fff;
  z-index: 20
}

@media (min-width: 320px) {
  .block_navigation {
      position:relative;
      flex-direction: row;
      justify-content: flex-end;
      width: calc(100% - 180px);
      height: auto;
      background: 0 0;
      transform: initial
  }
}

.btn_menu {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #1292f0;
  background: 0 0;
  z-index: 21
}

.btn_menu:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(../../images/sprite.png);
  background-position: 0 0;
  width: 22px;
  height: 18px;
  z-index: 3
}

@media (min-width: 320px) {
  .btn_menu {
      display:none
  }
}

.bl_nav {
  position: relative;
  padding-top: 128px;
  width: 100%
}

@media (min-width: 320px) {
  .bl_nav {
      padding-top:0;
      width: initial
  }
}

.bl_nav__list {
  display: block;
  width: 100%;
  margin: 10px auto
}

@media (min-width: 3201px) {
  .bl_nav__list {
      width:auto;
      margin: 0
  }
}

.bl_nav__item {
  position: relative;
  display: block;
  line-height: initial;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1eaf0;
  overflow: auto;
  max-height: calc(100vh - 240px)
}

@media (min-width: 320px) {
  .bl_nav__item {
      line-height:40px;
      display: inline-block;
      margin: 0 10px;
      border: 0;
      overflow: initial
  }
}

.bl_nav__list li:last-child>.block_tab__list {
  left: initial;
  right: 0
}

.bl_nav__item.siblings>.bl_nav__link {
  line-height: 40px
}

@media (min-width: 320px) {
  .bl_nav__item.siblings>.bl_nav__link {
      line-height:initial
  }

  .bl_nav__item.siblings {
      padding-right: 20px
  }

  .bl_nav__item.siblings:after {
      content: "";
      position: absolute;
      top: 10px;
      right: 4px;
      background-image: url(../../images/sprite.png);
      background-position: -50px -32px;
      width: 10px;
      height: 6px
  }

  .bl_nav__item:hover>.block_tab__list {
      display: flex
  }
}

.bl_nav__link {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  transition: .15s ease-in;
  color: #2a3c90
}

.bl_nav__link:focus,.bl_nav__link:hover,.block_tab__item a:focus,.block_tab__item a:hover {
  color: #1292f0
}

.btn_nav__mobil {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #e1eaf0;
  border-radius: 4px;
  margin-top: -5px;
  top: 6px;
  right: 17px
}

.btn_nav__mobil:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(../../images/sprite.png);
  background-position: -50px -32px;
  width: 10px;
  height: 6px;
  z-index: 2;
  transition: .2s ease-in
}

@media (min-width: 320px) {
  .btn_nav__mobil {
      display:none
  }
}

.block_tab__list {
  display: none;
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 0 20px;
  background: 0 0
}

@media (min-width: 320px) {
  .block_tab__list {
      position:absolute;
      top: 100%;
      left: 0;
      width: 270px;
      padding: 32px;
      background: #e4f6fd;
      border-radius: 20px;
      z-index: 2;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap
  }
}

@media (min-width: 600px) {
  .block_tab__list {
    width: 470px;
  } 
}

.block_tab__item {
  margin-bottom: 16px;
  line-height: 28px
}

@media (min-width: 320px) {
  .block_tab__item {
      width:33.3%;
      line-height: 20px
  }

  .block_tab__item:last-child {
      align-self: flex-end
  }
}

.block_tab__item a {
  font-weight: 400;
  font-size: 16px;
  color: #2a3c90
}

.btn_reviews {
  display: none;
  min-width: 240px;
  font-weight: 600;
  padding: 0 15px;
  font-size: 14px;
  line-height: 44px;
  color: #1292f0
}

@media (min-width: 320px) {
  .btn_reviews {
      display:block;
      min-width: 124px
  }
}

.btn_reviews:focus,.btn_reviews:hover {
  color: #fff;
  background-color: #1292f0
}

.btn_navigation {
  display: block
}

.btn_menu__checkbox {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0
}

@media (min-width: 320px) {
  .btn_menu__checkbox {
      display:none
  }
}

.btn_menu__checkbox:checked+.block_navigation {
  transform: translateX(0)
}

.btn_menu__checkbox:checked~.btn_menu:after {
  background-image: url(../../images/sprite.png);
  background-position: 0 -23px;
  width: 18px;
  height: 17px
}

.btn_nav__mobil__checkbox {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 40px;
  height: 40px;
  opacity: 0
}

@media (min-width: 320px) {
  .btn_nav__mobil__checkbox {
      display:none
  }
}
